[2013-01-18 01:11] heavenshell opened #1 "g:jsdoc_input_description duplicated in help"
g:jsdoc_input_description duplicated in help.

[2013-01-18 04:37] heavenshell opened #2 "Fix README.md"

[2013-01-18 15:18] #1 closed, assigned to nobody

[2013-01-18 15:22] #2 closed, assigned to nobody

[2014-02-03 22:24] pgilad opened #9 "No detection of parameters when function is a parameter by itself"
for example:

[code]

Will generate a jsDoc of:

[code]

This happens whenever a function is a parameter by itself.

**rethinking about this - maybe this is expected behavior** but still leaving this open for thoughts

[2014-02-10 10:17] #9 closed, assigned to nobody

[2014-06-04 13:23] verkholantsev opened #10 "@return if function returns undefined"
Plugin adds empty `@return` param, if I don't specify the type of returned value. Like this:

[code]

(implemented here: https://github.com/heavenshell/vim-jsdoc/blob/master/autoload/jsdoc.vim#L96)

Isn't it better to specify the type explicitly by default. Like:

[code]

[2014-06-14 07:17] #10 closed, assigned to nobody

[2014-10-17 14:39] djmccormick opened #11 "Generated comment block doesn't follow whitespace settings (tabs vs. spaces)"
The comment block generated by this plugin will be indented with spaces rather than tabs even when Vim is configured to use tabs and the file is tab-indented.

[2014-10-29 18:43] liamcurry opened #12 "Optional binding to something other than <C-l>"
I use `<C-h/j/k/l>` to switch between buffers. vim-jsdoc overwrites that mapping for `<C-l>`. It'd be nice to have this as a plugin option. I'm a vimscript newbie or else I'd do it myself. Any idea how to fix this?

[2014-10-29 18:48] #12 closed, assigned to nobody

[2015-01-13 17:46] glifchits opened #14 "ECMAScript6 method shorthand support"
Doesn't work with new style method definitions. Here is an example -- given these functions, I typed `:JsDoc` and got the annotations as noted:

Old style:
[code]

New style (shorthand):
[code]

[2015-01-15 11:01] heavenshell commented on #11
#13 solved this issue.

[2015-01-15 11:01] #11 closed

[2015-01-16 15:41] heavenshell commented on #14
Try `feature_shorthand` branch.
https://github.com/heavenshell/vim-jsdoc/tree/feature_shorthand
This is an experimental implementation.

You should set `let g:jsdoc_allow_shorthand` to vimrc.
[code]

**Note**
This implementation has limitation.

[code]
If you type `:Jsdoc` to above, `jsdoc.vim` would generate like following.
[code]

[2015-01-16 19:01] glifchits commented on #14
:+1: love it, thank you! I'll raise any issues if they come up.

[2015-01-18 05:21] heavenshell commented on #14
Merged to master branch.

[2015-01-18 05:21] #14 closed

[2015-03-02 02:48] hbetts opened #15 "g:jsdoc_access_descriptions Behavior Reversed"
Reading through the README, my impression is that if `g:jsdoc_access_descriptions` is set to `2`, the resulting documentation for a private method would be `@private` or `@public`. However, on line [122](https://github.com/heavenshell/vim-jsdoc/blob/92dbef7e5e32857f84d527754c3650eb9fc1e612/autoload/jsdoc.vim#L122), the code uses `@access public` and `@access private`.

Testing this in my `.vimrc`

[2015-03-02 12:01] heavenshell commented on #15
Thx for pointing out.

Implementation was wrong.
dos also says
[code]
I just fixed this problem.

[2015-03-02 12:01] #15 closed

[2015-03-30 16:11] glifchits opened #17 "Option to omit @return if no type given"
I find it redundant to include the `@return {undefined}` for the many functions I have which do not have a return type. Can this be implemented?

[2015-03-30 16:25] heavenshell commented on #17
Is `let g:jsdoc_return = 0` solve your problem?

[2015-03-30 16:43] glifchits commented on #17
No because I would still like to include the `@return` type, but only if it is *not* `undefined`. What do you think?

[2015-03-31 09:28] heavenshell commented on #17
humm, Sorry I still don't understand what is your requirement.

So, what do you want to generate?

Just only `@return`?
And why `@return {undefined}` is redundant.

[2015-04-01 01:05] glifchits commented on #17
When I am prompted for the return type, if I type nothing, the `@return` tag should be skipped. Currently, it will add `@return {undefined}`.

If you believe this is a silly request then please feel free to close it. I admit this is a matter of personal preference and therefore it might not be worth implemented it in this plugin.

[2015-04-01 01:21] faceleg commented on #17
I'd like this feature. Saves me from having to go back and delete unwanted `@return` lines

[2015-04-01 01:23] glifchits commented on #17
After closer investigation, I think this is in fact a bug.

[code]

After prompts for the arguments...
[code]
Finally I get
[code]
I press **Enter** and then the documentation string appears:

[code]
Even though I left it blank, it still generated a `@return`, against the promise.

[2015-04-01 15:26] heavenshell commented on #17
@glifchits Thx I'll look into your PR this week end.

[2015-04-02 01:26] ryanoasis commented on #17
:+1: At first I didn't quite agree but that's just because I am used to how it works now :stuck_out_tongue:

But this change does seem to make sense given how the prompt reads :smile_cat:

[2015-04-04 09:56] Schniz opened #19 "ES6 jsdoc generation"
in ES6 classes like
[code]

it won't realize the return value nor the params

[2015-04-04 12:48] heavenshell commented on #19
Try `let g:jsdoc_allow_shorthand = 1`.

[2015-04-04 13:51] Schniz commented on #19
great! should have read the readme. sorry.
thanks for this one :smiley_cat: handy plugin

[2015-04-04 13:51] #19 closed

[2015-04-04 14:05] heavenshell commented on #19
:smile_cat:

[2015-04-05 11:56] #17 closed

[2015-04-05 11:57] heavenshell commented on #17
@glifchits LGTM thx, merged.

[2015-04-27 21:52] andjosh opened #20 "Detect generator functions"
When trying to JsDoc generator functions, the params and function name are not detected.

e.g.
[code]

[2015-04-28 04:07] heavenshell commented on #20
Merged!
Nice catch. Thx!

[2015-04-28 04:07] #20 closed

[2015-06-08 06:01] IonicaBizau opened #24 "Default descriptions checking the argument name"
Is it possible to have a way to create default descriptions?

e.g. `if (field === "callback") { defaultDesc = "The callback function"; }`

And also, the type: `Function`.

This would be awesome! Thanks for great plugin. :four_leaf_clover:

[2015-06-08 14:19] heavenshell commented on #24
No, but `let g:jsdoc_input_description = 1` allows you to input description interactively.
Is this solve your problem?

[2015-06-08 14:24] IonicaBizau commented on #24
I know that, but I would like this feature: some default things for repetitive things (e.g. `callback).

Temporary, I hacked it this way:
[code]

[2015-06-08 16:54] ryanoasis commented on #24
@IonicaBizau I can see what you mean. Maybe there is a place for something like this. A user configurable mapping to allow defaults such as the one you describe.

[2015-06-08 17:01] heavenshell commented on #24
ah, now I see what you mean.

1. Set `let g:jsdoc_allow_input_prompt = 0` to .vimrc
2. Write following JavaScript code
[code]
3. Type `:JsDoc`

Then you want to insert custom description instead of default description.

Huuum, I think your hack is not good idea and I can't include to jsdoc.vim
[code]
If args are all callback your hack ignore second callback.
So, maybe we should think something lik

[2015-06-08 18:51] IonicaBizau commented on #24
@heavenshell  A setting like `g:jsdoc_custom_arg_hooks` in `.vimrc` is exactly what I imagine as well! Can you implement it? That will increase my productivity a lot. :smile:

You know that joke:

[2015-06-09 03:58] heavenshell commented on #24
OK, I'll add my ToDo list, so stay tuned.
If you can't wait my implementation, send me PR :smile:

[2015-06-09 04:07] IonicaBizau commented on #24
@heavenshell Cool!

Right now, I don't know to write VimL code (the snippet I posted above was the first two lines written in VimL in my life). :smile:

[2015-06-10 11:14] heavenshell commented on #24
@IonicaBizau
Try `feature_custom_args ` branch.

Set following setting to your .vimrc
[code]
If above setting(dic) key matched to your function signature,
`type` and `description` would replaced.

[code]
This is an experimental implementation.
So, if you catch bugs or problems, let me know.

[2015-06-10 13:09] IonicaBizau commented on #24
@heavenshell For some reason it doesn't work for me. I updated the `autoload/jsdoc.vim` file and set the following in `.vimrc`:

[code]

`:echo g:jsdoc_custom_args_hook` outputs `{'progress': {'description': 'The progress function.', 'type': ' {Function} '}, 'callback\|cb': {'description': 'The callback function.', 'type': ' {Function} '}}`

But when I press <kbd>CTRL</kbd> + <kbd>L</kbd>, I see n

[2015-06-10 14:13] heavenshell commented on #24
ah, sorry currently it's only run at `let g:jsdoc_allow_input_prompt=0`.

[2015-06-11 14:40] IonicaBizau commented on #24
@heavenshell Almost there. :smile:

[code]

As you see, the fields are duplicated.

But I want to have the following: to be able to insert description, but if I just press enter (empty string), then search the default description.

[2015-06-11 15:05] heavenshell commented on #24
Thx for reporting problem.
Strange...I'll look into it.

Would you show me your .vimrc(related jsdoc.vim settings).

So, you mean JsDoc.vim(interactive mode) might behave overwrite default description when press enter if dict key matched.
Please wait a while :smiley_cat:

[2015-06-11 15:08] IonicaBizau commented on #24
[Here](https://github.com/IonicaBizau/dotfiles/blob/895a2f5edf58c48464695e34c991a54189a6c799/vim/.vimrc#L96-L100) and the following (not committed yet):

[code]

Yes! If I write something, then it has a greater priority than the default description.

Thanks! :cake:

[2015-06-11 16:23] heavenshell commented on #24
Thx. reproduced.
Huum, maybe takes a while to fix.
I should reconsider implementation.

[2015-06-12 17:15] heavenshell commented on #24
@IonicaBizau
Fixed duplication and now you can use in interactive mode.
Could you try this?

[2015-06-12 17:18] IonicaBizau commented on #24
Awww, this is soooo nice! :sparkles:

However, there is one little thing that still should be fixed: it puts two spaces instead of one (e.g. `* @param a  {Function}  The callback function.`).

This is probably the last thing to fix from my side. :smile: Really great work.

[2015-06-12 17:32] heavenshell commented on #24
Yep, expected behavior.
I Fixed to insert one space automatically.

Could you change your vimrc?
[code]

[2015-06-12 17:34] IonicaBizau commented on #24
Hahaha! Cool! :sparkle: Exactly what I needed. Thanks again!

[2015-06-12 17:59] heavenshell commented on #24
Merged to master.

[2015-06-12 17:59] #24 closed

[2015-06-12 18:07] IonicaBizau commented on #24
:+1: :tada:

[2015-06-14 02:34] naddeoa opened #25 "Errors when using plugin with input prompt disabled"
Thanks for the plugin, it is just what I'm looking for! That being said, out of the box I'm getting an error when I try to execute `:JsDoc` with `let g:jsdoc_allow_input_prompt=0` and I'm not sure how to go about debugging it.

[code]

It seems to work fine with `let g:jsdoc_allow_input_prompt=1` though.

[2015-06-14 02:41] naddeoa commented on #25
I rolled back to commit `09edd82 - Fix the fields are duplicated.` and everything seems to work fine. I suspect something in commit `5f1d3d4 - Refactor...` causes the issue.

[2015-06-14 10:20] heavenshell commented on #25
Oops, thx.
Fixed missing endif.

[2015-06-14 10:20] #25 closed

[2015-06-15 07:04] IonicaBizau opened #26 "Sometimes the jsdoc comment is not generated properly"
Here is a case when the comment is incorrect:

[code]

I provided information about `path`, `search`, `options` and `callback` as well. The progress data is completed from defaults.

The first arguments descriptions and types are missing.

[2015-06-15 07:06] IonicaBizau opened #27 "Same description is provided for all parameters"
I just pressed <kbd>Enter</kbd>. Probably a side-effect of #26.

[code]

[2015-06-15 15:46] heavenshell commented on #27
Could you write reproduce steps to?
What is your `g:jsdoc_custom_args_hook`?

[2015-06-15 15:52] IonicaBizau commented on #27
My `g:jsdoc_custom_args_hook` is:

[code]

See the following gif:

![ezgif com-crop](https://cloud.githubusercontent.com/assets/2864371/8164104/adc72054-138f-11e5-88f5-f052be5b8a64.gif)

[2015-06-16 00:40] heavenshell commented on #27
Thx, I'll look into it later.

[2015-06-16 12:11] heavenshell commented on #27
`a`, `b`, `c` are matched to `callback`.

[code]
echoed numbes are mached position.
(-1 is not matched)
I think this is a expected behavior.

[2015-06-16 12:14] IonicaBizau commented on #27
Ok, so it's a feature! :smile:

What happens if I would have something like this?

[code]

Will be `back` description correct?

[2015-06-16 12:26] heavenshell commented on #27
What do you mean?

[code]
I hited all Enter key.
It's seems works fine.

[2015-06-16 12:28] IonicaBizau commented on #27
@heavenshell Yes, that's fine. :+1: Thanks!

[2015-06-16 12:28] #27 closed

[2015-06-16 12:43] heavenshell commented on #26
So .vimc settings are same as https://github.com/heavenshell/vim-jsdoc/issues/27#issuecomment-112117552 ?
`path` is not matched to anything.
Nothing should be to inserted.

[2015-06-16 12:45] IonicaBizau commented on #26
@heavenshell Yes, same settings. I did insert custom description for `path` but still nothing was inserted.

[2015-06-16 12:52] heavenshell commented on #26
Thx. reproduced.
I'll look into it.

[2015-06-16 13:21] #26 closed

[2015-06-16 13:22] heavenshell commented on #26
Fixed. Could you try?

[code]

[2015-06-16 13:34] IonicaBizau commented on #26
@heavenshell Nice! Works nice! :smile:

[2015-06-16 13:35] heavenshell commented on #26
Thx for reporting :smile:

[2015-06-16 13:36] IonicaBizau commented on #26
@heavenshell Thanks for fixing! :cake: :smile_cat: I **heavily** use this plugin daily. Then [`blah`](https://github.com/IonicaBizau/node-blah) generates the documentation (README.md, CONTRIBUTING.md etc).

[2015-06-16 14:31] IonicaBizau opened #28 "After upgrade, it generates invalid jsdoc"
I'm not sure what's going on:

[code]

I expect to get `* @param {String} a Foo`

[2015-06-16 17:26] steadystatic opened #30 "Can't get it to work with vim 7.4 + janus setup"
I'm using pathogen via Janus and vim 7.4 - are there any known incompatibilities with other plugins?

I didn't see it in :scriptnames in cli vim and in MacVim I used the plugin listing plugin Headlights to show all my bundles and didn't see it there either.

Any ideas? Thanks!

[2015-06-17 04:04] heavenshell commented on #30
No. JsDoc.vim does not depend on any plugins.
[code]
↑command shows runtimepath.
Is JsDoc.vim included in  runtimepath?

or
`:messages` shows any messages?

[2015-06-18 15:43] #28 closed

[2015-06-19 10:20] heavenshell commented on #30
@steadystatic Any progress about this?
I'll close this issue because this is not a JsDoc.vim's problem.

[2015-06-21 05:07] #30 closed

[2015-07-07 13:22] MWers opened #32 "Tools used to create animated gif?"
Nice plugin! Minor aside: Which tools did you use to create the animated gif screenshot with keypresses? Very cool.

Thanks!

[2015-07-07 13:27] ryanoasis commented on #32
@MWers That was me, I used [keymon](http://code.google.com/p/key-mon/) (for the keypresses) + a custom [byzanz](http://linux.die.net/man/1/byzanz-record) script (for screencapture)

[2015-07-08 03:43] heavenshell commented on #32
@MWers Solved?
Can I close this?

[2015-07-08 05:11] MWers commented on #32
Issue solved. :)

Thanks for the info, @ryanoasis. And thanks for the excellent plugin, @heavenshell.

[2015-07-08 05:11] #32 closed

[2015-07-08 05:34] heavenshell commented on #32
:+1:

[2015-07-14 19:19] DanielFGray opened #33 "poor choice of default keybind"
`<C-l>` is used for redrawing the screen, overriding this as a default is a very poor choice IMO.

I'd like to suggest `<leader>jd`, or (my personal favorite) not defining any keybinds and let the user do it manually.

[2015-07-14 22:04] ryanoasis commented on #33
@DanielFGray that's a good point I use `<leader>d` myself.

`nmap <silent> <leader>d <Plug>(jsdoc)`

I think the default is okay especially since it only affects javascript files but I can definitely see the other side of the coin (let the user decide and never setup a default).

http://stevelosh.com/blog/2011/09/writing-vim-plugins/#mapping-keys-the-right-way has some good thoughts on this

[2015-07-14 22:41] DanielFGray commented on #33
I spend a lot of time in JavaScript files and this default means I can't refresh the screen, and also because I use tpope's sensible that uses `<C-l>` to add `:nohlsearch` which I rely a lot on.

It is of course easily fixed, I just find it a really poor choice. Providing default keybinds is one thing, overriding defaults is another.

[2015-07-14 23:25] ryanoasis commented on #33
You make good points and I don't disagree with any of them :laughing: . I am not really sure why I responded (bad habit maybe). I think I will wait to let others, particularly @heavenshell, weigh in :smile:

[2015-07-17 17:00] heavenshell commented on #33
Thx for pointing out.
Now I Removed default mapping. https://github.com/heavenshell/vim-jsdoc/commit/694a52b799380a2d3c012b2f62f96cd3c1046163

So you can write your favorite keymapping to your `.vimrc`.

[2015-07-17 17:00] #33 closed

[2015-08-28 07:55] IonicaBizau opened #36 "Default message depending on the type"
Is it possible to add a way to define default descriptions depending on the type? Like, #24, but after providing the type I want to just press Enter and create the description automagically.

For example: `Object`, then I press twice <kbd>Enter</kbd> and I want to get `@param {Object} arg An object containing the following fields:` (which is supposed to be configured somewhere in `.vimrc`).

Btw,

[2015-08-29 08:10] heavenshell commented on #36
@IonicaBizau
Very interesting.
I implemented your idea.
Try this branch(https://github.com/heavenshell/vim-jsdoc/tree/feature_default_message).
This is an experimentation and please report me if you have any problems.

Add following setting to your `.vimrc`
[code]
If type is `obejct`, JSDoc.vim insert `An object containing the following fields` to description.

Wow, Thank you very much.
It's very

[2015-08-29 17:49] IonicaBizau commented on #36
@heavenshell Thanks! Almost there! :sparkle: The thing I still need is to be able to input a custom description (currently it seems that if I configure a hook for `Object`, then it doesn't ask me for the description).

Anyway, nice work! :smile_cat:

[2015-08-30 06:09] heavenshell commented on #36
@IonicaBizau

Please explain to me little bit more?

[code]

Followings are steps to reproduce.
[code]
- `:JsDoc`
- `Argument "bar" type:`
- Input `object`
  - Then JSDoc.vim shows `Argument "baz" type:`
- input `number`
  - Then JSDoc.vim shows `Argument "baz" description:`
  - Input `baz` description
  - Then shows `Argument "callback" type:`
- hit return
  - Then shows `Argument "callback" desc

[2015-08-30 08:38] IonicaBizau commented on #36
Before this I want to get `Argument "bar" description:`–and if I only press <kbd>Enter</kbd>, it will be set to *An object containing the following fields*, otherwise (if I write something different), it will be set to what I wrote. So, basically, I still want to have the possibility to enter custom descriptions for type hooks. :dizzy:

[2015-08-31 19:23] csaroff opened #37 "Arrow Functions Not Supported"
When attempting to document arrow functions I ran into this issue.

When I run :JsDoc on the following methods, the displayed JsDoc is generated.
[code]

The arrow functions do not generate parameters or method names.

[2015-09-01 14:13] heavenshell commented on #36
@IonicaBizau
OK, I see.
Please wait a while :smile:

[2015-09-01 14:24] heavenshell commented on #37
Currently arrow function does not work.

If you can't wail my update, patches are very welcome.

[2015-09-01 20:25] csaroff commented on #37
Okay, thank you heavenshell.  I'll take a look at it this weekend, but I'm not sure that I'll have time to commit a patch.  I just wanted to add feature request, but I didn't know how to add the enhancement label.  Thanks for all of your work.  You're a hero!

[2015-09-02 14:46] heavenshell commented on #36
@IonicaBizau
Updated.

[code]
If you set `'force_override': 1`, skip description prompt.
If you don't set `force_override` description prompt.

[2015-09-03 06:26] IonicaBizau commented on #36
@heavenshell Works nice! Thank you sooooo much! :sparkles:

[2015-09-03 14:05] heavenshell commented on #36
Merged to master. https://github.com/heavenshell/vim-jsdoc/commit/a0c8603c82c4a4e7700bbfb86d34e0b886528bac

[2015-09-03 14:05] #36 closed

[2015-09-05 10:37] heavenshell commented on #37
@csaroff
Try https://github.com/heavenshell/vim-jsdoc/tree/feature_arrow_function branch.
[code]
[code]

I'm not familar to ES6. So please send me feed back if you have any problem.

[2015-09-05 15:09] jacoborus commented on #37
New branch works perfect for me

[2015-09-06 05:39] heavenshell commented on #37
Thanks. :+1:

[2015-09-06 05:47] heavenshell commented on #37
Note
From ver 0.5.0, `g:jsdoc_allow_shorthand` will be deprecated.
`let g:jsdoc_enable_es6 == 1` instead.

[2015-09-08 08:08] csaroff commented on #37
Looks awesome man.  Thank you sooo much!

[2015-09-08 08:08] #37 closed

[2015-09-08 08:52] heavenshell commented on #37
@csaroff
Thx, I'll merge to master.

[2015-09-08 14:15] heavenshell commented on #37
Merged.

[2015-09-08 14:53] jacoborus opened #38 "Enable parameters in shorthand methods with es6 feature"
`enable_es6`  feature is not detecting parameters in shorthand class methods

In this `method` only it allows you to add a description and type to return value, not to parameter

[code]

[2015-09-08 14:56] jacoborus commented on #37
I just realized that this feature breaks shorthand methods option. I opened #38

[2015-09-08 16:03] heavenshell commented on #38
@jacoborus
[code]
Works fine for me.
[code]

[2015-09-08 16:04] heavenshell commented on #38
Please show me step to reproduce.

[2015-09-08 19:06] jacoborus commented on #38
I'm sorry @heavenshell , my fault. I was trying to launch jsdoc from inside the function instead from first line. Plugin works perfect =)

[2015-09-09 00:47] heavenshell commented on #38
No problem :+1:

[2015-09-09 00:47] #38 closed

[2015-09-29 08:32] elrrrrrrr opened #40 "Does vim-jsodc support @typedef ?"
How to generator such JSDoc ?
[code]

[2015-09-29 13:51] heavenshell commented on #40
Nope.
JSDoc.vim can only generate from `signature`.

[code]
Currently, `@param {type} description` is one line.
Maybe we'd better to introduce like templating system, but I don't have any plan.
Sorry.

[2015-09-30 02:16] elrrrrrrr commented on #40
THX for replay .

[2015-09-30 02:16] #40 closed

[2015-10-20 13:30] IonicaBizau opened #41 "Support ES6 class methods"
[code]

Is this a known issue or it's something that needs to be improved?

[2015-10-20 14:06] heavenshell commented on #41
[code]
[code]

[2015-10-20 14:17] IonicaBizau commented on #41
Ohhh, thanks!! :dizzy:

I love so much this plugin! :smile:

[2015-10-20 14:17] #41 closed

[2015-11-14 13:50] kyohei8 opened #42 "jsdoc_input_description default value"
I have a little question.

Its source code,

[code]

but, README file(or doc file) says `g:jsdoc_input_description` is default value is `1`.

which is correct??

[2015-11-16 16:00] ryanoasis commented on #42
Good catch :+1:

Looks like it has always been default of `0` in the code.

Originally `0` in doc: https://github.com/heavenshell/vim-jsdoc/blob/639d21b995e06f5c00f824596995c85bec6058b0/doc/jsdoc.txt#L79

but somehow changed to `1` in doc: https://github.com/heavenshell/vim-jsdoc/blob/30a6d0d1755a1d4677c1d7beee5112f4d1234901/doc/jsdoc.txt#L91 but remained as default `0` in code.

Also yes the read

[2015-11-17 14:11] #42 closed

[2015-11-17 14:12] heavenshell commented on #42
Fix docs. Thx for report.
Nice catch!

[2015-11-17 16:12] kyohei8 commented on #42
Thanks a lot! :+1:

[2015-12-07 19:40] tjwudi opened #44 "ES6 class support"
ES6 is now very popular and I think it is reasonable to support both `function` and `class` class definition. Is it in the plan? If not, I could investigate how to implement this. :)

[2015-12-08 09:49] heavenshell commented on #44
What should we generate from class signature.
Could you show me example?

And sorry I'm not familiar with ES6.
What do you mean about `function` class.
Could you show me example of `function` class signature and expected behavior?

[2015-12-08 13:26] ryanoasis commented on #44
I think @tjwudi is referring to arrow function expressions: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions

Classes: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes

[2015-12-08 14:29] heavenshell commented on #44
@ryanoasis
Thx.
Arrow function has been supported.

I want to know what JSDoc.vim should generate.

Currently following JSDoc generate.
[code]

[2015-12-20 20:01] IonicaBizau commented on #41
@heavenshell This looks broken––I did enable es6 using `let g:jsdoc_enable_es6=1`.

Any ideas?

![image](https://cloud.githubusercontent.com/assets/2864371/11919816/197cfba2-a765-11e5-932f-9acc626ce0ae.png)

[2015-12-21 14:24] heavenshell commented on #41
@IonicaBizau
Can not reproduced.
<img width="359" alt="2015-12-21 23 22 36" src="https://cloud.githubusercontent.com/assets/56591/11932568/c8011b34-a839-11e5-8ee4-f4d0c5ef18b1.png">

Can you show me your vimrc(jsdoc.vim settings) and step to reploduce?

[2015-12-21 14:28] IonicaBizau commented on #41
@heavenshell [This](https://github.com/IonicaBizau/dotfiles/blob/master/vim/.vimrc) is my `.vimrc`.
[Here](https://github.com/IonicaBizau/dotfiles/blob/master/vim/.vimrc#L77-L103) are the jsdoc related options.

[2015-12-21 15:28] heavenshell commented on #41
@IonicaBizau
Copy your vimrc settings, move to `parse ()` line, exec `:JsDoc` and hit all enter.
But still can't reploduce it.

![image](https://cloud.githubusercontent.com/assets/56591/11933832/aef45d4c-a841-11e5-9aa8-d073c8659f8e.png)

[2015-12-21 17:47] IonicaBizau commented on #41
@heavenshell Hmm, thanks. Will try to debug the problem. It does work on my desktop computer, but not on my laptop. I did `NeoBundleUpdate` and still no change...

[2015-12-23 04:22] heavenshell commented on #41
@IonicaBizau
Thx.
What the difference between your laptop and desktop.
vimrc, other Vim plugin or Vim version etc.

JSDoc.vim has no dependency to other plugin, but if conflicted, please let me know.

[2016-01-09 23:51] Reewr commented on #44
@heavenshell

With the JSDoc 3.4.0 (latest version on NPM), I was able to parse the following into a class

[code]

JSDoc will in this case correctly pick up the constructor (@return {Foo} on the constructor is probably not necessary). If the class has no constructor, JSDoc will make a constructor without arguments.

I have not tried your plugin yet as I just found it, but I am currently installin

[2016-01-10 06:22] heavenshell commented on #44
@Reewr Nice. Thanks for suggestion.
I'll start improve this issue.
BTW Pull requests are very welcome :smile:

I think describing `return {Foo}` at constructor is strange.
You know constructor always returns it self.

Currently not.
But I think it should be generate like following.
[code]
What do you think?

[2016-01-10 13:39] Reewr commented on #44
That's great. I've used this plugin somewhat now and I found it to be really useful.

I think it looks good.

Will you also support for static functions in classes?

[code]

I would help you out with a pull request, but I've just started using Vim and absolutely no clue on how VimL works yet.

[2016-01-10 13:49] heavenshell commented on #44
OK, I'll start improve `static function` after this issue solve.
I'll add it to my todo list.
Stay tuned.

Don't mind :smile_cat:

[2016-01-10 13:49] heavenshell opened #46 "Support static function"
https://github.com/heavenshell/vim-jsdoc/issues/44#issuecomment-170345013

[2016-01-11 16:42] davidosomething opened #47 "Hook arg matchstr is incorrectly reversed"
See
https://github.com/heavenshell/vim-jsdoc/blob/d5dfde19b631602913b8705787a190157535b7eb/autoload/jsdoc.vim#L149

[code]

The call to matchstr is called with the first arg being the hook, the second arg as the function parameter

so for the javascript

[code]

it is run against:

[code]

According to the [vim docs](http://vimdoc.sourceforge.net/htmldoc/eval.html#matchstr()), matchstr should be c

[2016-01-20 22:47] Reewr opened #53 "ES6 Generator functions"
Generating documentation for ES6 Generator functions doesn't work properly.

[code]

Using JsDoc on the above function only adds description and return and doesn't recognize the arguments. This is most likely due to the function regex not considering '*' a valid character in between `function` and parenthesis.

[2016-01-21 06:25] heavenshell commented on #53
Thx for reporting.
I'll look into it later.

Patches are very welcome :smile:

[2016-01-22 18:03] #47 closed

[2016-02-29 05:22] IonicaBizau commented on #41
@heavenshell Finally I solved this problem. I couldn't find any difference between my desktop and laptop, but I refactored my `.vimrc` from scratch and the issue disappeared. Thanks once again for this amazing plugin! :sparkles:

[2016-02-29 11:32] heavenshell commented on #41
@IonicaBizau Nice to hear that. Thx.

[2016-04-18 16:18] tribou opened #56 "Unable to generate @public or @private"
I haven't been able to get `@public` or `@private` options generated using the following config:

[code]

Is there supposed to be an additional prompt when using the `:JsDoc` command?

[2016-04-28 03:48] ajwhite opened #57 "Autoformatting support"
Would love for an option to allow automatic formatting. Currently going in by hand afterwards to make alignments

![screen shot 2016-04-27 at 11 48 09 pm](https://cloud.githubusercontent.com/assets/656630/14874863/8a92eaea-0cd2-11e6-8f5f-fdc97b67f68a.png)

[2016-04-30 06:17] #53 closed

[2016-04-30 12:29] heavenshell commented on #57
Sorry for late response.

No plan to support formatting.
Formatting is not JsDoc.vim's responsibility.

Maybe [EasyAlign](https://github.com/junegunn/vim-easy-align) will solve your problem.

[code]

[2016-04-30 12:33] heavenshell commented on #56
Sorry for late response.

Add following settings to my .vimrc.
[code]
[code]
Type `:JsDoc` and generate like followings.
[code]
Could you show me steps to reproduce?

[2016-05-04 01:33] heavenshell commented on #44
bfac691e27545194270f62b55036785ea7209947 support class and static.
[code]

[2016-05-04 01:33] #44 closed

[2016-05-04 01:34] heavenshell commented on #46
bfac691e27545194270f62b55036785ea7209947

[2016-05-04 01:34] #46 closed

[2016-05-22 12:27] heavenshell commented on #56
Not reproduced.
If you reproduced, reopen this issue.

[2016-05-22 12:27] #56 closed

[2016-05-22 12:28] #57 closed

[2016-08-19 03:40] onweer opened #59 "how to make :JsDoc append @author or @date automatically?"
how to make :JsDoc append @author or @date automatically?

[2016-08-21 02:41] heavenshell commented on #59
Currently can't generate `@author` or `@date`.

But we should introduce something like `user_defined_tags`.

[code]

I'll add to my todo list.

[2016-08-21 08:41] onweer commented on #59
Thanks !.

[2016-08-28 13:53] Torwori opened #60 "Typescript support"
It'd be nice if the plugin had typescript support (automatically detect types for parameter and return value, if specified).

[2016-08-28 14:19] heavenshell commented on #60
Yeah, currently I'm working to support TypeScript.

[2016-08-30 14:39] heavenshell commented on #60
@Torwori
Could you try https://github.com/heavenshell/vim-jsdoc/tree/feature_typescript branch?

[2016-08-30 21:08] Torwori commented on #60
I'll check it out tomorrow after work, sorry for the delay.

On Tue, Aug 30, 2016, 16:39 Shinya Ohyanagi <notifications@github.com>
wrote:

[2016-08-31 20:27] Torwori commented on #60
Hey, just tried it out, seems to be working ok. :+1:

It would be even better if it automatically read types from the function signature, but if that's too much of a hassle then this is good enough.

[2016-09-01 10:38] heavenshell commented on #60
@Torwori Thx for your feedback!

Could you explain me more?

[code]
This would be like following.
[code]
`{string}` are read from signature.

[2016-09-02 07:23] Torwori commented on #60
[code]

These are the settings I used, I had to enter the types manually.

[2016-09-02 15:38] heavenshell commented on #60
@Torwori
Thx. I'll start investigation.

[2016-09-02 15:58] heavenshell commented on #60
@Torwori
[code]

[code]

[code]

Looks good to me.

Hit tab key when `Argument "foo" type:` shows then output typed candidates.

[2016-09-05 08:14] Torwori commented on #60
Ah, I didn't know you could press tab. :+1:

[2016-09-06 14:16] heavenshell commented on #60
@Torwori
Thx. Merged to master.

[2016-09-06 14:16] #60 closed

[2016-09-11 14:28] heavenshell commented on #59
@onweer
Try `feature_user_defined_tags` branch.

Set following settings to your `.vimrc`.
[code]

[2016-10-01 05:40] bogas04 commented on #44
Sorry for bringing this up again, but we still have one part that isn't supported by vim-jsdoc, i.e. [Function Definition Shorthand](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Method_definitions)

[code]

[2016-10-01 08:20] heavenshell commented on #59
Merged to master
https://github.com/heavenshell/vim-jsdoc/commit/e1ac68a52abc7d3a1fc6d613f696db142f295cdb

[2016-10-01 08:20] #59 closed

[2016-10-24 15:06] rpereira opened #61 "Missing @param around single function argument on ES6 shorthand function"
With parens around single argument:

[code]

Without:

[code]

[2016-10-24 15:27] heavenshell commented on #61
@rpereira Thx for reporting.

[2016-10-24 17:02] rpereira commented on #61
@heavenshell 👍

[2016-10-29 15:58] #61 closed

[2016-10-29 15:59] heavenshell commented on #61
@rpereira Sorry for late response.
I just fixed this issue. Could you try?

[2016-10-29 19:02] rpereira commented on #61
45c7c7c fixes the issue. Thanks @heavenshell.

[2016-12-13 19:17] myklemykle opened #62 "What is the test framework?"
Hello,

Sorry if this is a dumb question ... I'm doing some private extensions of vim-jsdoc to support our company's private extensions of JsDoc.  I would like to develop tests for what I'm doing.  I see that there are example .js files in the test/ directory, but I don't see any script to automate testing against those.  What test framework are you using?  How can I run these tests?

Thanks,
-myk

[2016-12-14 14:56] heavenshell commented on #62
@myklemykle
I'm sorry, currently I did't write tests.
I know I should write tests with E2E test, something like vader.vim

currently, `test/*` runs handly.
open test file and just run `:JsDoc` command.

[2016-12-15 02:38] myklemykle commented on #62
That's okay, i can test manually.  Thanks for letting me know.

-m-
--
IM IN MY IPHON MISPELIN UR W0RDZ

[2016-12-15 14:54] #62 closed

[2017-01-09 18:15] mhartington opened #63 "Recent changes prevent Typescript support"
Hi there! It seems some changes in via https://github.com/heavenshell/vim-jsdoc/commit/45c7c7cef440a29f7bf24436640413e3d5d578ff now prevent typescript support.

When starting a sample js file, I can call `:JsDoc`
But when using typescript, I get `E492: Not an editor command: JsDoc`

minimal vim that produces it.

[code]

[2017-01-10 13:18] heavenshell commented on #63
@mhartington
Thx for reporting.
Hmm, it strange.

I could not reproduce your problem.

- `$ vim test/test.ts`
- type `gg:JsDoc`

[code]

What about if you add `on_ft` option?

[code]

p.s.
I don't use any third party plugin manger.

[2017-01-10 20:30] mhartington commented on #63
Hmm, odd, did some tweaking of my rc and minimal rc and now it's working.
Sorry for the noise!

[2017-01-10 20:30] #63 closed

[2017-01-11 12:07] heavenshell commented on #63
@mhartington np, thx for reporting and using my plugin!

[2017-01-25 18:46] codeinabox opened #64 "Param defaults as optional?"
Using the ES6 code for handling defaults and `:JsDoc` with prompts enabled it generates the following

[code]

However as per the [JSDoc documentation](http://usejsdoc.org/tags-param.html#optional-parameters-and-default-values), should those params with defaults be listed as optional? ie

[code]

[2017-01-26 16:47] heavenshell commented on #64
@codeinabox
ah, thx for reporting issue.

I'll fix it later, stay tuned 😊

[2017-01-28 15:45] heavenshell commented on #64
@codeinabox
Could you try `fix/default_params` branch?

[2017-01-28 21:01] codeinabox commented on #64
Still getting the same output

[2017-01-29 02:28] heavenshell commented on #64
fmmm, strange.

- open ./test/test.js
- move cursor to `function defaultParams(arg, arg1 = 'foo', arg2 = 100) {}` line
- type `:Jsdoc`

[code]

Could you show me your jsdoc.vim settings?

[2017-01-30 11:20] codeinabox commented on #64
I tried that but get
[code]

Settings are

[code]

[2017-01-31 13:34] heavenshell commented on #64
@codeinabox
Thx. Did you try https://github.com/heavenshell/vim-jsdoc/tree/fix/default_params branch?

[2017-01-31 16:08] codeinabox commented on #64
Yes. Went into .vim/bundle/vim-jsdoc and switched to that branch when I tried earlier.

[2017-02-01 15:29] heavenshell commented on #64
@codeinabox
Thx, I couldn't reproduced...

So, I add print debug statement.
Update `fix/default_params` branch.

Run jsdoc and `:messages`.
than, debug messages shows.
Could you paste debug messages?

[2017-02-03 15:42] codeinabox commented on #64
Nothing seems to come up when I invoke `:messages`

[2017-02-04 13:55] heavenshell commented on #64
I think your plugin manager is something wrong.
I don't know what plugin manager are you using.

Is this right way to switch branch?
I think you did not switch branch.

[2017-02-07 22:57] kopach opened #66 "Autodetect params type"
There is code-analysis engine for JavaScript named [Tern](http://ternjs.net/) which actually analyses js code very well. One of the feature - it can automatically, based on the code, determine the type of variable/parameter. You can try it out online on this [demo page](http://ternjs.net/doc/demo/index.html#simple). Also, there is [vim plugin](https://github.com/ternjs/tern_for_vim) for this.

So,

[2017-02-08 14:09] heavenshell commented on #66
@kopach Thx for comment.
Sorry if my understanding was wrong.

Currently no.
JSDoc.vim can only generate from method/function signature.
I don't want depend on any specific plugin.

Flow/TypeScript is supported, but Flow/TypeScript have typed params.
So, JSDoc.vim can generate type.

[2017-02-08 16:28] kopach commented on #66
To make it clear what Tern could do - take a look on image below:
![ezgif com-optimize](https://cloud.githubusercontent.com/assets/8749624/22745997/a9d77560-ee22-11e6-8811-8393347563e1.gif)

And it can analyze much more complex code. In my opinion, it would be super cool to have such suggestions of arguments types based on code analysis when possible. So, type of `@parameters` could be automatical

[2017-02-08 16:58] davidosomething commented on #66
@kopach that would be more appropriate to add into the tern_for_vim plugin, you should ask there https://github.com/ternjs/tern_for_vim

[2017-02-08 17:03] kopach commented on #66
@davidosomething, but the idea is not to create TypeScript from JavaScript. But to generate JsDoc with some pre filled information when possible. `tern_for_vim` it's just a port for Tern in vim, it's not for documentation generating.

[2017-02-08 17:10] davidosomething commented on #66
yes I know exactly what you're looking for

tern_for_vim is not a port for tern in vim. It is an interface and wrapper around the tern.js server and tern.js API. It starts a tern server and makes calls to that local tern server's API from within vim.

tern_for_vim already has the methods to get the static types from tern server, all it needs to do is return it as a string instead of `:echo`ing it

[2017-02-08 18:26] kopach commented on #66
yes, exactly. So, maybe, there is a chance to implement this communication with `tern_for_vim` plugin in JSDoc.vim? ;-) Maybe with some option which could be even disabled by default.
Of course after `tern_for_vim` will be able to return a string instead of `:echo`.

[2017-02-09 11:46] heavenshell commented on #66
@kopach @davidosomething
Thx for your information.
I understood your requirement.

There few problems.

1. Can tern_for_vim get type at once?
   for example, screenchast get `string` and `number` by `:TernType` command.
   move cursol to param1 and type `:TernType`, and move cursol to param2 and type `TernType`
   Is there any command or api to get `param1` and `param2` type at once?
   It's much

[2017-02-10 17:02] #64 closed

[2017-02-10 17:03] heavenshell commented on #64
Merge to master.

[2017-02-10 17:04] #66 closed

[2017-03-07 11:01] floscr opened #67 "ES6 Destructured Object Function Argument"
Hi,

Right now destructured function parameters are broken:
[code]

Of course this is a matter of opinion, but I think the spread object argument should be one parameter like

[code]

[2017-03-07 15:34] heavenshell commented on #67
Thx for reporting.
I'll look into it.

[2017-03-08 13:19] amirnissim opened #68 "Support for ES6 syntax class methods"
Running `:JsDoc` on the following

[code]

Generates

[code]

[2017-03-08 13:22] amirnissim commented on #68
Sorry, duplicate #41

[2017-03-08 13:22] #68 closed

[2017-03-08 13:30] heavenshell commented on #68
no problem 😊

[2017-03-12 12:45] heavenshell commented on #67
Still working this.
But it too complecated... 😢

[2017-05-02 12:17] xahon commented on #60
JsDoc doesn't appear if cursor on line like `public someFunc() : void`

[2017-05-03 15:16] heavenshell commented on #60
@xahon
https://github.com/heavenshell/vim-jsdoc/blob/master/test/test.ts#L36
open above file and execute `:JsDoc`.

[code]

It seems works fine.

[2017-06-09 02:41] Cyperwu opened #69 "How to use it in vue?"
I'm currently using vue, how can I use this plugin in vue?

[2017-06-20 16:00] heavenshell commented on #69
Sorry for late response.
Install jsdoc.vim and read the docs.

[2017-06-20 16:00] #69 closed

[2017-08-15 20:21] zbraniecki opened #70 "Multiline function definitions don't work"
The following doesn't seem to work with vim-jsdoc:

[code]

[2017-08-16 13:11] heavenshell commented on #70
Thanks for reporting.

[2017-10-06 17:30] imfangli commented on #69
I haven't found the way to use this awesome plugin in `.vue` file too, I already read the docs... 😭

[2017-10-07 00:23] heavenshell commented on #69
@imfangli

I don't know about `.vue` file, but you can do something like followings.

[code]

[code]

[code]

If you don't want `set ft=javascript` every time, put following settings at your `.vimrc`.
[code]

[2017-10-08 09:52] imfangli commented on #69
@heavenshell

[2017-10-08 11:41] heavenshell commented on #69
@imfangli Welcome ☺️

[2017-10-30 09:06] heavenshell commented on #70
I don't have enogh time to look into this.
PR's are very welcome.

[2017-12-17 15:17] #70 closed

[2018-03-16 05:56] liyuanqiu opened #73 "E492: Not an editor command: JsDoc"
Sorry to ask such a question here, because this is not your bug for certain.
But I googled a lot of time, no solution found. So I have to seek for help here.

I use Vim 8.0.707 in Debian 9, and I clone this git repository into this path:
   ~/.vim/pack/plugins/start/vim-jsdoc
Then I open my js file, type `:JsDoc`, and see this error: `E492: Not an editor command: JsDoc`
But if I type `:call jsdoc#

[2018-03-25 17:35] Jikstra commented on #73
Same problem for me using neovim xx
Workaround to have the :JsDoc command place this in your vim config:
`command! -register JsDoc call jsdoc#insert()`

For your other problem, you need to enable prompting for those things.
Example:
`let g:jsdoc_input_description = 1`
with this setting jsdoc will ask for a description as soon as you run :JsDoc. Same for the other prompts.

[2018-03-27 11:26] heavenshell commented on #73
@liyuanqiu @Jikstra Sorry for late response(I did not notice this issue :-().
That's so strange. In my enviorment, I can generate via `:JsDoc` command.

@liyuanqiu Could you update your Vim more recent one?

[2018-04-22 00:53] liyuanqiu commented on #73
Sorry I'm late too.
I prepared a pure newly installed Debian 8, then install vim from [vim github](https://github.com/vim/vim), the version is 8.0.1733. Same problem.
I guess maybe your environment has some required installations that make `:JsDoc` work. Could you please take a test in a pure newly installed Debian system? I can give you a cloud server for test if you need.

[2018-04-22 07:41] heavenshell commented on #73
@liyuanqiu Thx for information.
I have some questions.

1. What plugin manager do you use?
1. Could you show me your minimal vimrc?
1. Other plugin's command works fine?
1. macOS and Ubutsu 16.04 works fine at my local. Could you try other OS?
1. Tests are all passed.
https://travis-ci.org/heavenshell/vim-jsdoc/jobs/317707031#L1717
https://github.com/heavenshell/vim-jsdoc/blob/master/tests/js.vade

[2018-04-24 01:57] heavenshell commented on #73
Forgot to comment.
One more question. What file do you open?(`.js`? `.jsx`? other?)
Could you show me what filetype(`:set ft`) is.

[2018-04-26 08:31] Edo78 opened #74 "TypeScript inputs configuration"
Hi,
I'm trying to configure the plugin to automatically get the input types from the typescript declaration but to have it asking me the description of each param.

Sadly if I set
[code]
the plugin doesn't ask for the description but if I try
[code]
then it ignores the types specified in the function.

Am I missing something?

[2018-04-26 10:38] heavenshell commented on #74
@Edo78
Did you set following?
[code]

[2018-04-26 10:44] Edo78 commented on #74
yes, I do because I declare my functions with the fat arrow syntax

[2018-04-26 11:26] heavenshell commented on #74
@Edo78 Thx!
[code]
In my settings, generated like following.

[code]

[code]

Could you show me your vimrc(related with jsdoc.vim)?
and generated output?

[2018-04-26 13:13] Edo78 commented on #74
[code]
With a config like this
[code]
the plugin ask me for a description and generate
[code]
while enabling `let g:jsdoc_allow_input_prompt = 1` ask for parameters type and description (also for return type and description) and generate
[code]

[2018-04-28 16:38] heavenshell commented on #74
Sorry bit confused.
What's is your problem?

Settings.
[code]

[code]
1. Move cursor to testFunction line
1. Type `:JsDoc`
1. Prompt `Description: `
1. Type `aaa<CR>`
[code]
Works fine.

[2018-04-28 16:39] heavenshell commented on #74
Please show me step by step and what is your expected behavior.

[2018-04-28 17:04] Edo78 commented on #74
Your example didn't prompt for the argument description.

I want the plugin to get the types from the code because I don't want to write them again but to ask me the description of each argument.

[2018-04-29 00:50] heavenshell commented on #74
[code]
These types are from signature(`par1: string`).

[2018-04-29 00:53] heavenshell commented on #74
Ah, I got it.

You do want not input types but you want type description your self?

[2018-04-29 01:09] heavenshell commented on #74
Sorry currently, there is no way to get type from signature.
input nothing(just hit enter key) generates `undefined`.

Adding new global flag is easy but we have too many already flags.
Do you have any idea to improve this? If design is good, I'll implement.

[2018-04-29 07:58] Edo78 commented on #74
I was thinking about a modification [here](https://github.com/heavenshell/vim-jsdoc/blob/a164cb4c14b9063e82b6ccba96b4bc8b3a6d8f73/autoload/jsdoc.vim#L458)

[code]
This way if the script found a candidate_type then it use it without even asking but keep asking for a description of the arg.

I'm not sure if this could break something else

[2018-04-29 10:29] Edo78 commented on #74
I just created a [PR](https://github.com/heavenshell/vim-jsdoc/pull/75)

[2018-08-03 02:28] liyuanqiu commented on #73
@heavenshell

Vim 8 native plugin manager
[code]

No custom .vimrc file, all default.(Newly installed Debian 8, Newly installed Vim 8 with no custom configurations)

After installed `vim-jsdoc`, I installed `vim-vue` and `yats`, they all work fine.(But they don't need any command, just syntax highlighting.)

I tried on my macOS, same problem.

filetype=javascript
The extension name of my file is `

[2018-08-03 16:13] heavenshell commented on #73
@liyuanqiu
Thank you.

Umm, I also use Vim8's pack, but works fine.

<img width="539" alt="2018-08-04 1 07 38" src="https://user-images.githubusercontent.com/56591/43653467-18098ef0-9783-11e8-96cd-1ea588afd447.png">

Hit `:J<TAB>`.
<img width="526" alt="2018-08-04 1 09 28" src="https://user-images.githubusercontent.com/56591/43653490-2b2d9620-9783-11e8-973d-ebd3fc97065a.png">

[code]
That's all...

[2018-08-06 05:59] liyuanqiu commented on #73
@heavenshell
Sorry for some incorrect feedback, after many trials, I found that if `~/.vimrc` or `~/_vimrc` existing, this plugin will not work, even if they are empty.

I'v send you an email which gives you a live host for testing.

You can login to that host, remove `~/.vimrc`, then `vim a.js`, then `:J<TAB>`, works fine.

But if you `touch ~/.vimrc`, this plugin will not work.

[2018-09-04 18:19] DeedleFake opened #77 "Return Type Includes Arrorw with Flow and Arrow Functions"
Running `:JsDoc` on

[code]

produces the comment

[code]

[2018-09-05 16:05] heavenshell commented on #77
Thx for reporting.
Known issue and it's hard to fix.

Please stay tuned.

P.S.
PR are very welcome.

[2018-09-05 16:11] betterphp opened #78 "Error thrown for some functions"
The following is thrown for some function definitions in classes. It seems pretty random and does it for really simple function, even empty ones with no parameters sometimes. It's a React project so these are methods on classes.

I can't seem to see a pattern so hoping this will mean something to somebody.

[code]

[2019-08-21 17:46] dylnmc opened #80 "nullable @member syntax issue"
This highlights fine:

[code]

---

This doe NOT highlight fine:

[code]

[2019-08-21 18:00] dylnmc commented on #80
I thought it would have been from this plugin seems like it comes from vim-javascript. sorry.

[2019-08-21 18:00] #80 closed

[2020-01-30 10:24] mkl0g commented on #73
the issue is still actual
I'm using:
- macOS (Catalina)
- neovim v0.4.2
- vim-plug

[2020-01-30 14:23] heavenshell commented on #73
Could you show me you rtp?

[code]

1. save above Vim script to your local such as `/path/to/rtp.vim`
1. do `vim sample.js`
1. do `:so /path/to/rtp.vim`

If vim-jsdoc exists your rtp, it shows `jsdoc exists` to Vim's cmd area.
If not, something wrong with your rtp.

<img width="321" alt="スクリーンショット 2020-01-30 23 22 25" src="https://user-images.githubusercontent.com/56591/73457683-645b4280-43b7-11ea

[2020-01-31 09:35] mkl0g commented on #73
@heavenshell that's what rtp show me
![Screenshot 2020-01-31 at 12 27 51](https://user-images.githubusercontent.com/12232824/73528172-6a880800-4425-11ea-8c0c-e03787e1b113.png)
and when i tried to use JsDoc
![Screenshot 2020-01-31 at 12 32 57](https://user-images.githubusercontent.com/12232824/73528427-ebdf9a80-4425-11ea-9bb3-576c0960321a.png)
also I've tried JsDoc on my other machine with macOS an

[2020-01-31 11:43] heavenshell commented on #73
Thx for information! Hummm strange...

Is it Vim? or Neovim?
What is difference between ok and not ok machine?

[2020-04-08 18:49] malakada commented on #77
Extra: in this example:

[code]

Running `:JsDoc` would generate this:

[code]

A more desirable output would be:

[code]

[2020-04-10 14:00] heavenshell commented on #77
@malakada
Thx. Yes, currently jsdoc.vim does not works perfectly.
But Now I'm planning to rewrite jsdoc.vim complety new(ver 2).

ver2 will be able to parse complex types.

[2020-04-18 10:44] heavenshell opened #81 "jsdoc.vim v2.0.0"
Hello, jsdoc.vim users.
I'm sorry for long time no update and response.

I'm currently working on jsdoc.vim v2.0.0

## What's new
- Complete re-write
- Can handle complex params

For example.
[code]

will generate like following.

[code]

- You can choose document block template from `JSDoc`, `ESDoc`, `TSDoc` and your own customaized template

## Deprecate
v2.0.0 will Deprecate all `g:jsdoc_*` var

[2020-04-26 12:50] heavenshell commented on #67
ver2.0.0 was released.
This problem fixed

[2020-04-26 12:50] #67 closed

[2020-04-26 12:56] heavenshell commented on #77
2.0.0 was released

[2020-04-26 12:56] #77 closed

[2020-04-26 12:56] heavenshell commented on #78
2.0.0 was released
hookArgs was deplecated

[2020-04-26 12:56] #78 closed

[2020-04-26 12:57] heavenshell commented on #74
2.0.0 was released.
input intaractive was deprecated

[2020-04-26 12:57] #74 closed

[2020-04-26 12:57] heavenshell commented on #73
Ver 2.0.0 was released.
I Change `command`

[2020-04-26 12:57] #73 closed

[2020-04-26 13:53] heavenshell commented on #81
https://github.com/heavenshell/vim-jsdoc/pull/82

[2020-04-26 13:53] #81 closed

[2020-05-07 02:44] WingDust opened #84 "windows offer"
can offer the `windows` `neovim` or `gvim` version

[2020-05-07 11:20] heavenshell commented on #84
Sorry, I don't have Windows, Neovim.
PRs are welcome.

Gvim may be works fine(I check MacVim).

[2020-05-07 11:20] #84 closed

[2020-05-09 20:27] good-idea opened #85 "Unknown function: job_start"
I've updated to 2.0 and am getting this error when running `:JsDoc`:

[code]

I installed `lehre` globally with `yarn global add lehre`, and added this to my .vimrc:

`let g:jsdoc_lehre_path = '/usr/local/bin/lehre'`

where `/usr/local/bin/lehre` is what is returned when I run `which lehre` in the command line.

Anything I can do here? Is this a problem with a global install of `lehre`?

[2020-05-10 03:50] heavenshell commented on #85
@good-idea
Thx for reporting.
What is your Vim version.
2.0.0 requires Vim8.0.1633(Neovim not supported)

[2020-05-10 04:34] good-idea commented on #85
Oh, my mistake, I'm using Neovim.

[2020-05-10 04:34] #85 closed

[2020-05-16 15:52] glepnir commented on #81
why not support neovim? ..Hope can support it.

[2020-06-09 12:37] Cyperwu opened #87 "Any plan on supporting neovim?"
I'm using neovim and want to try new features on version 2.0.0. Is there any plan on supporting neovim?

[2020-06-09 13:05] heavenshell commented on #87
Someone(ofcourse including you 😉 ) send me PR and it's quality is good, I can merge it.

[2020-06-09 13:05] #87 closed

[2020-06-24 22:25] fpereira1 commented on #85
Also using neovim, looks like progress is happening on https://github.com/heavenshell/vim-jsdoc/pull/89

[2020-08-25 07:20] IonicaBizau opened #96 "How to use the interactive mode in 2.0.0?"
It is unclear to me how to use the snippet plugin.

Before I was using the global variable, but after upgrading to 2.0.0, I can't seem to figure it out.

[2020-08-25 14:05] heavenshell commented on #96
Something like this?
![Kapture 2020-08-25 at 22 58 33](https://user-images.githubusercontent.com/56591/91184087-2e9cf300-e727-11ea-83dc-38f3fd2f0d13.gif)

I use neosnippet(sorry I don't know about other snippet plugin) and [this template].(https://github.com/heavenshell/vim-jsdoc/blob/master/examples/snippet_template.js)

[2020-08-25 14:17] IonicaBizau commented on #96
But where should I put the template you linked?
Thank you!

[2020-08-25 14:41] heavenshell commented on #96
Wherever you want to put 😉

Set following to your vimrc.
[code]
or
[code]

[2020-08-25 14:45] IonicaBizau commented on #96
Thank you! :) That works!

[2020-08-25 14:45] #96 closed

[2020-08-25 14:51] heavenshell commented on #96
welcome 😊

[2020-09-27 11:26] berndartmueller opened #98 "Autodetect filetype and formatter"
Hello,

first of all thanks a lot for this great plugin!

I'm wondering if there is a way to autodetect the current filetype and use an appropriate formatter (.js -> Javascript, .ts -> Typescript)?

Or at least a way to provide the formatter to the :JsDoc command.

Thanks!

[2020-09-27 11:44] heavenshell commented on #98
@berndartmueller
Hi, thank you for comment.

What do you mean about `use an appropriate formatter`.

Do you want to use something like *.js -> JsDoc format, *.ts -> TsDoc format?
Can you tell me little more detail?

[2020-09-27 13:22] berndartmueller commented on #98
It would be great to have based on the current file (.js, .ts) either JsDoc or TsDoc used for formatting.

For now I set TsDoc as my default formatter, but occasionally I work on .js files and then it would be great to automatically format it with JsDoc.

[2020-09-27 14:50] heavenshell commented on #98
@berndartmueller

How about this?

Put followings to your .vimrc
[code]

[2020-09-27 17:36] berndartmueller commented on #98
Awesome!

Thanks a lot @heavenshell

I extended your script slightly to have different formatter loaded too.

[code]

[2020-09-28 01:57] heavenshell commented on #98
Great!

[2020-09-28 01:57] #98 closed

[2020-09-30 17:48] holtc opened #99 "Does not work with async functions"
Running `:JsDoc` on the following function does not work properly.

`const doSomething = async (param1, param2, param3) => {}` turns into:

[code]

Instead, I believe it should say the below (like it does without the `async`):
[code]

[2020-10-01 15:04] heavenshell commented on #99
@holtc Thx for reporting.
This is very annoying behavior.
Currently vim-jsdoc can't judge `async() {}` is method or function(AST can judge but Vim script can't).
I'll try to fix this but bit hard.

Just workaround solution, you can do `<Shft-v>` at  `const doSomething` line and type `:'<,'>JsDoc`

[2020-10-04 14:47] adelin-b opened #100 "Does not work on multi lines parameters"
This do not work
[code]
This work
[code]

[2020-10-04 15:19] heavenshell commented on #100
@aars
Try type `v):` and `:'<,'>JsDoc`.
Visual select signature and run JsDoc.

[2020-10-04 15:19] #100 closed

[2020-10-10 09:44] #99 closed

[2020-10-10 09:48] heavenshell commented on #99
@holtc fixed and release as 2.1.1
Thank you for reporting this!

[2020-12-09 16:59] boblannon opened #103 "yarn.lock changes prevent vim-plug from updating vim-jsdoc"
After running `PlugUpdate` most of my plugins updated successfully but I got an error for `vim-jsdoc`.

[code]

Just wanted to give a friendly heads-up!

If anyone else runs into this, the workaround is fairly simple, just

[code]

Then re-run `PlugUpdate`.

[2021-02-14 15:22] #103 closed

[2021-02-14 15:23] heavenshell commented on #103
Thx for reporting! Add to README.md

[2021-03-02 10:31] tzws opened #105 "不是编辑器的命令: commentstring< comments<"
执行 :e!

|| 处理 function <SNR>20_LoadFTPlugin 时发生错误:
|| 第    2 行:
|| E492: 不是编辑器的命令: commentstring< comments<

[2021-03-02 11:14] heavenshell commented on #105
I Can't reproduce.
Works fine in my env.

Please write step to reproduce with minimal vimrc

[code]

[2021-03-03 06:34] tzws commented on #105
reproduce steps:
1. use vim-jsonc\test-vimrc as vimrc, open some file
![WeChat Screenshot_20210303142942](https://user-images.githubusercontent.com/23232136/109763477-19040b00-7c2d-11eb-9b65-07ab5d55bcfc.png)

2. tabnew some json file

3. :set ft=jsonc
4. :e!
error occurs
![WeChat Screenshot_20210303143023](https://user-images.githubusercontent.com/23232136/109763695-6c765900-7c2d-11eb-989b-91d418

[2021-03-03 10:05] heavenshell commented on #105
Sorry this is **vim-jsdoc** 's issue.
I don't know about `vim-jsonc`.

Please ask to vim-jsonc's repository.

[2021-03-03 15:26] #105 closed

[2021-05-07 05:32] akshat46 opened #109 "No @return in JS"
I think this is currently the intended behavior? I saw similar stuff in the tutorial.

![image](https://user-images.githubusercontent.com/7402043/117400320-2f417800-aeb7-11eb-841f-a1ccfc825b8c.png)

None of the functions have `@return` section but perhaps it should be added to the ones that do return something. If not by default, maybe there could be an option to include `@return {}` if functions

[2021-05-07 18:20] akshat46 commented on #109
I see. I'll just create a temple then. Thanks! Great project!

[2021-05-07 18:20] #109 closed

[2021-08-12 11:06] heavenshell opened #110 "E1208: -complete used without allowing arguments"
https://github.com/vim/vim/pull/8544

[2021-08-12 13:56] heavenshell commented on #110
#111

[2021-08-12 13:56] #110 closed

[2021-10-06 13:59] matt-savvy opened #116 "JsDoc is not an editor command for filetype=javascriptreact/typescriptreact"
Hello,

I get error `E492 Not an editor command: JsDoc` for jsx and tsx files. I was able to fix this for jsx only by tweaking my vimrc to use `'javascriptreact'` instead of `'javascript.jsx'` like so:
[code]
But adding `'typescriptreact'` doesn't seem to work for tsx.

[2021-10-06 15:39] heavenshell commented on #116
@matt-savvy

Thank you for reporting.
I'm bit a busy now, so please wait a moment :pray:
This weekend, I'll investigate this.

BTW are you using vim-plug?

[2021-10-09 13:18] #116 closed

[2021-12-29 21:15] zeitchef opened #121 "Support for updating existing JSDoc comments?"
Just found this plugin and enjoying using it. Something I'm testing is that existing JSDoc comments are not changed/updated when a function signature changes. Is this intentional? Or have I overseen something in the usage?

[2021-12-30 12:00] heavenshell commented on #121
@zeitchef Thank you for comment.
Yes, intentional. Currently it's by design.
Should we provide something like override option?
(Delete current JSDoc and re-generate JSDoc automatically)

[2021-12-31 22:35] zeitchef commented on #121
@heavenshell Thanks for your quick response. It seems much more intuitive to me that comments are updated automatically when the function signature changes. I would go so far as to say this should perhaps be default behavior, but I would be just as happy with a config option to override existing comments.

[2022-01-01 17:09] heavenshell commented on #121
Thank you for comment!

Yeah, I know update automatically is very useful, but it's hard to merge old and new.
For example.

[code]

[code]

I think I will provide override option.
(I should update ast parser library)
I'll I add this update to my TODO list.
However I'm bit busy now(till end of Feb).
So, please stay tuned 🙏

[2022-01-28 01:57] duckscofield commented on #96
Hi all, I use the `UltiSnips` plugin, is there a case available?

[2022-09-14 22:31] ryuheechul commented on #121
Yeah I think override sounds good as `undo` will allow people to go back if overriding is not what they wanted.

[2022-09-15 12:03] heavenshell commented on #121
@ryuheechul Thanks for comment.
I'm very busy in my primary job.
So, please stay tuned.

Yeah, you can do it by your self(by manual editing or writing Vim script), but I'll add override option.